@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Quattrocento+Sans:wght@400;700&display=swap");

footer {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  bottom: 20px;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  width: 100%;
}
