.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  background-color: #ffffff;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #6633cc;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 1.5rem 2.5rem;
  background-color: #6633cc;
  color: #ffffff;
}

.choice-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 1.5rem;
  width: 100%;
}

#question-score-display {
  display: flex;
  justify-content: space-between;
}

.question-display-prefix,
.score-display-prefix {
  text-align: center;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.question-display-main-text,
.score-display-main-text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
