:root {
  background-color: #ffffff;
  font-size: 62.5%;
}

* {
  color: #040c10;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0.625rem;
}
*/ h1,
h2 {
  margin-bottom: 1rem;
}

h1 {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 5.4rem;
  color: #3399cc;
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 700;
}

h2 {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 400;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #3399cc;
  border-radius: 0.625rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #ffffff;
  background-color: #3399cc;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #3399cc;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
